<nav>
    <ul>
        <li><a ui-sref="home">Home</a></li>
    </ul>
</nav>
<div style="height: 100%; width: 100%;">
    <div style="height: 100%; width: 20%; background-color: darkred; ">
        <h1>All Users</h1>
        <form ng-submit="dashboardUser()" name="form">
            <button type="submit" id="loginbtn" style="padding: 10px;">Get All Users</button>
        </form>
        
    </div>
</div>
<div class="bg-image"></div>
<!-- display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px; -->